body {
    background-color: rgb(215, 129, 129);
  }
  .Top{ color:rgb(84, 94, 116);text-decoration:underline; text-align:center;}
  h1 {
    color: black;
    text-align: center;
  }
  img{
    border-radius:50px;
    align-items: center;
  
    
  }
  p {
    font-family: verdana;
    font-size: 20px;
  }
  h3{text-align:center;
  }
  p{text-align:center;
  }
ul{text-align:center;
}